<div class="flex">
    <div class="container">
      <div>
        <img src="assets/img-not/47547610252-976ae4d68f-h.jpg">
      </div>
      <div class="texto">
        <a target="_blank" href="https://sportv.globo.com/site/e-sportv/noticia/destaque-da-intz-na-final-do-cblol-envy-da-o-tom-para-msi-jogar-sem-medo.ghtml">Destaque da INTZ na final do CBLoL, Envy dá o tom para MSI: "Jogar sem medo"</a>
        <p>Célebre no trunfo dos Intrépidos em cima do Flamengo, meio mantém pés no chão com relação ao Mundialito de League of Legends: "Não existe time fácil, qualquer um apresenta perigo"</p>
        <h6>Por Gabriel Reis, para o e-SporTV </h6>
      </div>
    </div>
    <div class="container">
        <div>
          <img src="assets/img-not/yoda.jpg">
        </div>
        <div class="texto">
          <a target="_blank" href="https://sportv.globo.com/site/e-sportv/lol/noticia/league-of-legends-yoda-anuncia-que-continuara-na-red-canids-para-segundo-split-do-circuitao.ghtml">YoDa anuncia que continuará na RED Canids para segundo split do Circuitão</a>
          <p>Jogador segue na Matilha para segundo split do Circuito Desafiante nesta temporada</p>
          <h6>Por SporTV.com — São Paulo</h6>
        </div>
      </div>
      <div class="container">
          <div>
            <img id="#463714msi" src="assets/img-not/msi.jpg">
          </div>
          <div class="texto">
            <a target="_blank" href="https://sportv.globo.com/site/e-sportv/lol/noticia/msi-2019-seis-jogadores-para-ficar-de-olho-na-fase-de-grupo-do-mundialito-de-league-of-legends.ghtml">MSI 2019: seis jogadores para ficar de olho na Fase de Grupo do Mundialito de League of Legends</a>
            <p>De Faker a Rookie, fase principal do Mid-Season Invitational reúne nomes grandes do cenário internacional de League of Legends</p>
            <h6>Por Rodrigo Rosalinski, para o e-SporTV</h6>
          </div>
        </div> 
        <button type="submit" routerLink="/home">Voltar</button>


      
</div>