<div class="flex">
  <div class="item-flex">
      <div class="jumbotron">
          <table>
            <thead>
              <tr>
                <td>Colocação</td>
                <td>Equipe</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>&nbsp;&nbsp;Invictus Gaming</td>
                <td><button type="submit" routerLink="/time1">Informações</button></td>
              </tr>
              <tr>
                <td>&nbsp;&nbsp;SK Telecom T1</td>
                <td><button type="submit" routerLink="/skt">Informações</button></td>
              </tr>
              <tr>
                <td>&nbsp;&nbsp;G2 Esports</td>
                <td><button type="submit" routerLink="/g2">Informações</button></td>
              </tr>
              <tr>
                <td>&nbsp;&nbsp;Team Liquid</td>
                <td><button type="submit" routerLink="/liquid">Informações</button></td>
              </tr>
              <tr>
                <td>&nbsp;&nbsp;Flash Wolves</td>
                <td><button type="submit" routerLink="/flashwolves">Informações</button></td>
              </tr>
              <tr>
                <td>&nbsp;&nbsp;Phong Vu Buffalo</td>
                <td><button type="submit" routerLink="/buffalo">Informações</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <button type="submit" routerLink="/home" id="voltar">Voltar</button>

  </div>
</div>