<div class="flex">
  <div class="item-flex">
      <img src="assets/image/MSI-2019.png">

      <div class="jumbotron">
        <table>
          <thead>
            <tr>
              <td>Colocação</td>
              <td>Equipe</td>
              <td>Vitórias-Derrotas</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1º</td>
              <td>Invictus Gaming</td>
              <td>9-1</td>
            </tr>
            <tr>
              <td>2º</td>
              <td>SK Telecom T1</td>
              <td>7-3</td>
            </tr>
            <tr>
              <td>3º</td>
              <td>G2 Esports</td>
              <td>5-5</td>
            </tr>
            <tr>
              <td>4º</td>
              <td>Team Liquid</td>
              <td>4-6</td>
            </tr>
            <tr>
              <td>5º</td>
              <td>Flash Wolves</td>
              <td>3-7</td>
            </tr>
            <tr>
              <td>6º</td>
              <td>Phong Vu Buffalo</td>
              <td>2-8</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>