<div class=flex>
  <div class="item flex">
    <img src="assets/image/logo.png">
    <div class="panel">
      <div class="jumbotron">
        <h3>Bem-Vindo, Invocador!</h3>
        <button type="submit" class="btn btn-primary" id="cima">Assistir jogos</button>
        <button type="submit" class="btn btn-primary">Times</button>
        <button type="submit" class="btn btn-primary" routerLink="/tabela">Tabela de Classificação</button>
        <button type="submit" class="btn btn-primary" routerLink="/noticias">Notícias</button>
      </div>
    </div>
  </div>
</div>